.card{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding : 4%;
    margin-top: 3%;
}
.bar{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 3%;
    text-align: center;
    font-size: 150%;
    padding: 1%;
    
}